<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinema.mapper.MovieMapper">

	<select id="movieList" resultType="com.cinema.domain.MovieDto$MovieResultDto">
	
	<![CDATA[
		SELECT * FROM (SELECT /*+INDEX_DESC(MOVIE MOVIENO_PK)*/
		ROWNUM RN, MOVIENO, MOVIETITLE, MOVIEETITLE, MOVIEDIRECTOR, MOVIEACTOR, MOVIETYPE, MOVIEGENRE, MOVIEGRADE, MOVIEOPENDATE, MOVIECONTENTS, 
		 MOVIEIMAGE, MOVIESTATUS ,MOVIETRAILER FROM MOVIE) 
		]]>
	
	</select>

	<select id="movieInfo" resultType="com.cinema.domain.MovieDto$MovieResultDto">
	
	<![CDATA[
	SELECT MOVIENO, MOVIETITLE, MOVIEETITLE, MOVIEDIRECTOR, MOVIEACTOR, MOVIETYPE,
		MOVIEGENRE, MOVIEGRADE, MOVIECONTENTS, MOVIEOPENDATE, MOVIESTATUS, MOVIEIMAGE, MOVIEPLAYTIME FROM MOVIE WHERE MOVIENO=#{movieNo}
	]]>
	
	</select>
	
</mapper>